@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.container{
   padding: 0;
}
#selectorscreen,#resultscreen,#negativescreen{
    display: none;
}


#homescreen{
    /* background-image: url(./images.jpg); */
    background: linear-gradient( transparent, rgb(157, 235, 150)),
url("./images/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#selectorscreen{
    background: linear-gradient( transparent, rgb(157, 235, 150)),
    url("./images/img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
}
.ques{
    font-size: 2rem;
}
#buttons,#resultbuttons{
    display: flex;
    justify-content: space-around;
}
.btn{
    width: 43%;
}
#resultscreen{
    background: linear-gradient( transparent, rgb(43, 44, 43)),
    url("./images/img2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        height: 100vh;
}
#negativescreen{
    background: linear-gradient( transparent, rgb(30, 31, 30)),
    url("./images/img3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;

}
.resultheading{
    font-family:'Shadows Into Light', cursive;
    font-size: 4rem;
    color: white;
    animation: glow .59s infinite alternate;
}
.resultdeclare{
    font-family:'Shadows Into Light', cursive;
    font-size: 3rem;
    line-height: 1.5em;
    color: white;    

}
.negativeheading{
    font-family:'Shadows Into Light', cursive;
    font-size: 4rem;
    margin-top: 40%;
    color: white;
    animation: glow .59s infinite alternate;
}
@keyframes glow {
    to {
     text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #d25ed4, 0 0 16px #d25ed4, 0 0 20px #d25ed4, 0 0 24px #d25ed4, 0 0 28px #d25ed4;
    }
  }
  .negativeheading{
          text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
          animation: glow .59s infinite alternate;
  }
  @media only screen and (min-width: 600px){
      #homescreen{
          padding-top: 5em;
      }
      .ques{
          margin-top: 15%;
      }
      .negativeheading{
        margin-top: 25%;
      }
      .resultheading{
          margin-bottom: 1.5em;
      }
      footer {
          padding-top: 3em;
      }
      .btn{
        width: 40%;
    }

  }